@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');


.App {
  font-family: 'Poppins', serif;
  text-align: center;
}

.navbar svg {
  font-size: 2em;
}

.navbar span {
  font-size: 1em;
}

.card-btn {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-newtask {
  display: flex;
  flex-direction: column;
}

.form-newtask button {
  height: 50px;
}